body {
    background-color: rgb(1, 143, 179);
    color: rgb(44, 44, 44);
}
p {
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:72px;
}
h1 {
    text-align: center;
}