/*
OpeNTab Default StyleSheet
index.css
(c) speedyplane2247 2017-2018
Release
Under MIT license
*/
body {
    background-color: rgb(1, 143, 179);
    color: rgb(44, 44, 44);
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 72px
}

h1 {
    text-align: center;
}
